@font-face {
    font-family: "iconfont"; /* Project id 4448643 */
    src: url('../resource/iconfont.woff2?t=1709227949840') format('woff2'),
    url('../resource/iconfont.woff?t=1709227949840') format('woff'),
    url('../resource/iconfont.ttf?t=1709227949840') format('truetype');
}

.iconfont {
    font-family: "iconfont", sans-serif !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-dianhua:before {
    content: "\e607";
}

.icon-xialajiantou:before {
    content: "\e645";
}

.icon-xiazai:before {
    content: "\e601";
}

.icon-erweima:before {
    content: "\e600";
}

.icon-github:before {
    content: "\e66f";
}

.icon-aite:before {
    content: "\e60d";
}

