/*工具区*/
.right-float {
    float: right;
}

.left-float {
    float: left;
}

.clear-float::after {
    content: "";
    clear: both;
    display: block;
}

/*背景颜色*/

body {
    background: #191B26;
    height: 2000px;
}

/*导航栏*/

header {
    height: 30vw;
}

.top-nav {
    background: #090909;
    height: 5vw;
    position: sticky;
    top: 0;
}

.top-nav > ul {
    font-size: 0;
    width: auto;
    text-align: right;
}

.top-nav .item {
    font-size: 1.7vw;
    list-style-type: none;
    display: inline-block;
    text-align: center;
}

.top-nav .item a {
    display: inline-block;
    color: #c8c8e5;
    text-decoration: none;
    line-height: 5vw;
    width: 10vw;
    height: 5vw;
    background: #090909;
    transition: 0.8s;
}

.top-nav .item a:hover {
    background: #1b2141;
    color: #618eea;
    text-decoration: underline solid 3px;
}

/*赞助*/
.top-nav .sponsor .item-checkout {
    height: 25vw;
    display: none;
}

.top-nav .sponsor .item-checkout .sponsor1 {
    position: absolute;
    width: 25vw;
    height: 25vw;
    right: 0;
    transition: all 1s;
    background: url("../resource/item-checkout1.jpg") no-repeat center -21vw/ 160%;
}

.top-nav .sponsor .item-checkout .sponsor2 {
    position: absolute;
    width: 25vw;
    height: 25vw;
    left: 49vw;
    transition: all 1s;
    background: url("../resource/item-checkout2.png") no-repeat center -19.5vw/ 225%;
}

.top-nav li.sponsor:hover .item-checkout {

    .sponsor1 {
        animation: checkout1 0.5s;
    }

    .sponsor2 {
        animation: checkout2 0.5s;
    }

    display: block;
}

@keyframes checkout1 {
    from {
        transform: translateX(25vw);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes checkout2 {
    from {
        transform: translateX(-50vw);
    }
    to {
        transform: translateX(0vw);
    }
}

/*header背景*/
.top-background {
    height: 25vw;
    background: radial-gradient(circle at 15vw 20vw, #e8a1b2, #40509c);
    transform-origin: 17vw 20vw;
    text-align: right;
    overflow: hidden;
    transition: 2s;
    background-size: 100%;
}

.top-background:hover {
    background-size: 300%;
}

.top-background .one-word {
    margin: 10vw 6vw;
    font-size: 3vw;
    font-weight: bolder;
    color: #090909;
}

/*主要内容区*/
.top-main {
    position: relative;
}

/*头像区*/
.top-main .avatar {
    width: 25vw;
    height: 25vw;
    border: #191b26 solid 1vw;
    border-radius: 50%;
    background: url("../resource/Afei-Baili.png") no-repeat center /100% 100%;
    transform: translate(5vw, -15vw);
    display: inline-block;
    position: relative;
    z-index: 1;
}

.top-main .my-name {
    background-color: #191b26;
    width: 17vw;
    height: 7vw;
    display: inline-block;
    transform: translate(2vw, -24vw);
    border-radius: 0 5vw 1vw 0;
    vertical-align: bottom;
    text-align: left;
    line-height: 4vw;
    color: #eeeeee;
    font-size: 2vw;
    font-weight: bolder;
    position: relative;
    z-index: 0;
}

.top-main .my-name span {
    margin-left: 4vw;
}